{% extends "base.html" %}
{% block content %}
{% load staticfiles %}

		<div id="fh5co-main">
			<div class="fh5co-gallery">
				{% if categories %}
					{% for category in categories %}
						<a class="gallery-item" href="{% url 'single' category.id %}">
							<img src="/media/{{ category.image }}" alt="{{ category.name }}" width="300px" height="auto" style="max-height: 240px;">
							<span class="overlay">
								<h2>{{ category.name }}</h2>
								<span>{{ category.active_photo_count }}</span>
							</span>
						</a>
					{% endfor %}
				{% else %}
				<!-- if no categories show default -->
					<a class="gallery-item" href="#">
						<img src="{% static 'images/work_2.jpg' %}" alt="Free HTML5 Bootstrap Template by FreeHTML5.co">
						<span class="overlay">
							<h2>People</h2>
							<span>7 Photos</span>
						</span>
					</a>
					<a class="gallery-item" href="#">
						<img src="{% static 'images/work_3.jpg' %}" alt="Free HTML5 Bootstrap Template by FreeHTML5.co">
						<span class="overlay">
							<h2>Sky</h2>
							<span>22 Photos</span>
						</span>
					</a>
					<a class="gallery-item" href="#">
						<img src="{% static 'images/work_4.jpg' %}" alt="Free HTML5 Bootstrap Template by FreeHTML5.co">
						<span class="overlay">
							<h2>Building</h2>
							<span>28 Photos</span>
						</span>
					</a>
					<a class="gallery-item" href="#">
						<img src="{% static 'images/work_5.jpg' %}" alt="Free HTML5 Bootstrap Template by FreeHTML5.co">
						<span class="overlay">
							<h2>People 2</h2>
							<span>17 Photos</span>
						</span>
					</a>
					<a class="gallery-item" href="#">
						<img src="{% static 'images/work_6.jpg' %}" alt="Free HTML5 Bootstrap Template by FreeHTML5.co">
						<span class="overlay">
							<h2>Beach</h2>
							<span>34 Photos</span>
						</span>
					</a>
					<a class="gallery-item" href="#">
						<img src="{% static 'images/work_7.jpg' %}" alt="Free HTML5 Bootstrap Template by FreeHTML5.co">
						<span class="overlay">
							<h2>Vegetarian Food</h2>
							<span>10 Photos</span>
						</span>
					</a>
					<a class="gallery-item" href="#">
						<img src="{% static 'images/work_8.jpg' %}" alt="Free HTML5 Bootstrap Template by FreeHTML5.co">
						<span class="overlay">
							<h2>Travel</h2>
							<span>19 Photos</span>
						</span>
					</a>

					<a class="gallery-item" href="#">
						<img src="{% static 'images/work_9.jpg' %}" alt="Free HTML5 Bootstrap Template by FreeHTML5.co">
						<span class="overlay">
							<h2>Family</h2>
							<span>42 Photos</span>
						</span>
					</a>
				{% endif %}
			</div>
			<div class="fh5co-narrow-content">
				<div class="row">
					<div class="col-md-4 animate-box" data-animate-effect="fadeInLeft">
						<h1 class="fh5co-heading-colored">Get in touch</h1>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12 animate-box" data-animate-effect="fadeInLeft">
						<p class="fh5co-lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sollicitudin faucibus lobortis.</p>
						<p><a href="#" class="btn btn-primary btn-outline">Learn More</a></p>
					</div>
					
				</div>
			</div>

		</div>
	</div>
{% endblock %}
{% block getInTouch%}{% endblock %}